header{
        background-color: blue;
        text-align:center;
         }

  .logo h1{
         font-family:Times new roman,arial;
         font-size: 42px;
         color:white;
         margin: 0;
          }

  .logo p{
        font-family: Roboto,
        font-size: 42px;
        color:#000000; 
        margin-top: 0px;
         }   


  nav {
     width:100%;
     text-align	:center;
     background-color: #27D6F5;
   }
nav a{
       display: inline-block;
       margin: 5px;
       padding: 12px 20px;
       background-color:#01026E;
       color:white;
       font-family:Times new roman, sans-serif;
       font-size: 1.4em;
       text-decoration: none;
       border-radius: 20px;
       transition: background-color 0.10s, color 0.s;
        }
nav a:hover{
          color:276CF5;
          background-color:#00023D;
           }  


   section {
      background-color:  #;
      width: 60%;
      margin: auto; 
      margin-top:50px;
      font-size: 0.9em;
   }
 
    body {
  background-image: url(https://img.magnific.com/vector-premium/lineas-circuitos-digitales-tecnologia-futurista-abstracto-ciberespacio-fondo-azul_474511-431.jpg?semt=ais_hybrid&w=740&q=80);
  background-attachment: fixed;
  background-size:cover;
 
}